In [ ]:
# 1050. Actors and Directors Who Cooperated At Least Three Times (Pandas)

import pandas as pd
from typing import List

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    cooperation_counts = actor_director.groupby(
        ['actor_id', 'director_id']
    ).size().reset_index(name='cooperation_count')

    qualified_pairs = cooperation_counts[
        cooperation_counts['cooperation_count'] >= 3
    ]

    return qualified_pairs[['actor_id', 'director_id']]

if __name__ == '__main__':
    print("--- Running Example Test for LeetCode 1050 ---")

    data = {
        'actor_id': [1, 1, 1, 1, 1, 2, 2],
        'director_id': [1, 1, 1, 2, 2, 1, 1],
        'timestamp': [0, 1, 2, 3, 4, 5, 6]
    }
    df = pd.DataFrame(data)

    print("\nInput DataFrame (ActorDirector Table):")
    print(df)

    result = actors_and_directors(df)

    print("\nResult (Pairs with >= 3 Collaborations):")
    print(result)

--- Running Example Test for LeetCode 1050 ---

Input DataFrame (ActorDirector Table):
   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

Result (Pairs with >= 3 Collaborations):
   actor_id  director_id
0         1            1

In [ ]:
# 1050. Actors and Directors Who Cooperated At Least Three Times (SQL)

SELECT
    actor_id,
    director_id
FROM
    ActorDirector
GROUP BY
    actor_id,
    director_id
HAVING
    COUNT(*) >= 3;

In [ ]:
# 1667. Fix Names in a Table (Pandas)

import pandas as pd
from typing import List

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()

    users = users.sort_values(by='user_id', ascending=True).reset_index(drop=True)

    return users[['user_id', 'name']]

if __name__ == '__main__':
    print("--- Running Example Test for User Name Fix ---")

    # Example 1:
    data = {
        'user_id': [1, 2],
        'name': ['aLice', 'bOB']
    }
    df = pd.DataFrame(data)

    print("\nInput DataFrame (Users Table):")
    print(df)

    result = fix_names(df.copy()) # Use .copy() to avoid modifying the original data frame outside the function

    print("\nResult (Fixed Names):")
    print(result)

    # Example 2 (More complex names/ordering check):
    data_complex = {
        'user_id': [3, 1, 5, 2],
        'name': ['joHN', 'mArY', 'PeTeR', 'sAM']
    }
    df_complex = pd.DataFrame(data_complex)

    print("\nInput DataFrame (Complex Order):")
    print(df_complex)

    result_complex = fix_names(df_complex.copy())

    print("\nResult (Fixed Names and Ordered):")
    print(result_complex)

--- Running Example Test for User Name Fix ---

Input DataFrame (Users Table):
   user_id   name
0        1  aLice
1        2    bOB

Result (Fixed Names):
   user_id   name
0        1  Alice
1        2    Bob

Input DataFrame (Complex Order):
   user_id   name
0        3   joHN
1        1   mArY
2        5  PeTeR
3        2    sAM

Result (Fixed Names and Ordered):
   user_id   name
0        1   Mary
1        2    Sam
2        3   John
3        5  Peter

In [ ]:
# 1667. Fix Names in a Table (SQL)

SELECT
    user_id, CONCAT(UPPER(SUBSTR(name, 1, 1)), LOWER(SUBSTR(name, 2))) AS name
FROM
    Users
ORDER BY
    user_id;

In [ ]:
# 175. Combine Two Tables (Pandas)

import pandas as pd
from typing import List

def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
    merged_df = pd.merge(
        person,
        address,
        on='personId',
        how='left'
    )

    return merged_df[['firstName', 'lastName', 'city', 'state']]

if __name__ == '__main__':
    print("--- Running Example Test for Combining Two Tables (Left Join) ---")

    # Input: Person table
    person_data = {
        'personId': [1, 2],
        'lastName': ['Wang', 'Alice'],
        'firstName': ['Allen', 'Bob']
    }
    person_df = pd.DataFrame(person_data)

    # Input: Address table
    address_data = {
        'addressId': [1, 2],
        'personId': [2, 3],
        'city': ['New York City', 'Leetcode'],
        'state': ['New York', 'California']
    }
    address_df = pd.DataFrame(address_data)

    print("\nInput DataFrame (Person Table):")
    print(person_df)

    print("\nInput DataFrame (Address Table):")
    print(address_df)

    result = combine_two_tables(person_df.copy(), address_df.copy())

    print("\nResult (First Name, Last Name, City, State):")
    print(result)

--- Running Example Test for Combining Two Tables (Left Join) ---

Input DataFrame (Person Table):
   personId lastName firstName
0         1     Wang     Allen
1         2    Alice       Bob

Input DataFrame (Address Table):
   addressId  personId           city       state
0          1         2  New York City    New York
1          2         3       Leetcode  California

Result (First Name, Last Name, City, State):
  firstName lastName           city     state
0     Allen     Wang            NaN       NaN
1       Bob    Alice  New York City  New York

In [ ]:
# 175. Combine Two Tables (SQL)

SELECT
    P.firstName,
    P.lastName,
    A.city,
    A.state
FROM
    Person P
LEFT JOIN
    Address A ON P.personId = A.personId;

In [ ]:
# 176. Second Highest Salary (Pandas)

import pandas as pd
from typing import List

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    distinct_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False)

    if len(distinct_salaries) < 2:
        second_highest = None
    else:
        second_highest = distinct_salaries.iloc[1]

    result_df = pd.DataFrame(
        {'SecondHighestSalary': [second_highest]}
    )

    return result_df

if __name__ == '__main__':
    print("--- Example 1 ---")
    data1 = [[1, 100], [2, 200], [3, 300]]
    employee_df1 = pd.DataFrame(data1, columns=['id', 'salary'])
    print("Input Employee Table (Example 1):")
    print(employee_df1.to_markdown(index=False))

    output_df1 = second_highest_salary(employee_df1)
    print("\nOutput (Example 1):")
    print(output_df1.to_markdown(index=False))

--- Example 1 ---
Input Employee Table (Example 1):
|   id |   salary |
|-----:|---------:|
|    1 |      100 |
|    2 |      200 |
|    3 |      300 |

Output (Example 1):
|   SecondHighestSalary |
|----------------------:|
|                   200 |

In [ ]:
# 176. Second Highest Salary (SQL)

SELECT
    (SELECT DISTINCT Salary
     FROM Employee
     ORDER BY Salary DESC
     LIMIT 1 OFFSET 1) AS SecondHighestSalary;

In [ ]:
# 1327. List the Products Ordered in a Period (Pandas)

import pandas as pd

def list_products(products: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    orders['order_date'] = pd.to_datetime(orders['order_date'])

    orders['product_id'] = orders['product_id'].astype(int)
    products['product_id'] = products['product_id'].astype(int)

    feb_orders = orders[
        (orders['order_date'].dt.year == 2020) &
        (orders['order_date'].dt.month == 2)
    ].copy()

    if feb_orders.empty:
        return pd.DataFrame(columns=['product_name', 'unit'])

    total_feb_units = feb_orders.groupby('product_id')['unit'].sum().reset_index()

    high_demand_products = total_feb_units[total_feb_units['unit'] >= 100]

    result_df = pd.merge(
        high_demand_products,
        products[['product_id', 'product_name']],
        on='product_id',
        how='left'
    )

    return result_df[['product_name', 'unit']]

products_data = {
    'product_id': [1, 2, 3, 4, 5],
    'product_name': ['Leetcode Solutions', 'Jewels of Stringology', 'HP', 'Lenovo', 'Leetcode Kit'],
    'product_category': ['Book', 'Book', 'Laptop', 'Laptop', 'T-shirt']
}
products_df = pd.DataFrame(products_data)

orders_data = {
    'product_id': [1, 1, 2, 2, 3, 3, 4, 4, 4, 5, 5, 5],
    'order_date': ['2020-02-05', '2020-02-10', '2020-01-18', '2020-02-11', '2020-02-17', '2020-02-24', '2020-03-01', '2020-03-04', '2020-03-04', '2020-02-25', '2020-02-27', '2020-03-01'],
    'unit': [60, 70, 30, 80, 2, 3, 20, 30, 60, 50, 50, 50]
}
orders_df = pd.DataFrame(orders_data)

output_df = list_products(products_df, orders_df)
print("--- Result DataFrame ---")
print(output_df)

--- Result DataFrame ---
         product_name  unit
0  Leetcode Solutions   130
1        Leetcode Kit   100

In [ ]:
# 1327. List the Products Ordered in a Period (SQL)

SELECT
    P.product_name,
    T.total_unit AS unit
FROM
    Products P
INNER JOIN
    (
        SELECT
            product_id,
            SUM(unit) AS total_unit
        FROM
            Orders
        WHERE
            YEAR(order_date) = 2020 AND MONTH(order_date) = 2

        GROUP BY
            product_id

        HAVING
            SUM(unit) >= 100
    ) AS T
ON
    P.product_id = T.product_id;

In [ ]:
# 1378. Replace Employee ID With The Unique Identifier (Pandas)

import pandas as pd
from typing import List, Dict, Any

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    merged_df = pd.merge(
        employees,
        employee_uni,
        on='id',
        how='left'
    )

    return merged_df[['unique_id', 'name']]

employees_data = {
    'id': [1, 7, 11, 90, 3],
    'name': ['Alice', 'Bob', 'Meir', 'Winston', 'Jonathan']
}
employees_df = pd.DataFrame(employees_data)

employee_uni_data = {
    'id': [3, 11, 90],
    'unique_id': [1, 2, 3]
}
employee_uni_df = pd.DataFrame(employee_uni_data)

# Call the function and print the result
output_df = replace_employee_id(employees_df, employee_uni_df)

print("--- Employees DataFrame ---")
print(employees_df)
print("\n--- EmployeeUNI DataFrame ---")
print(employee_uni_df)
print("\n--- Result DataFrame ---")
print(output_df)

--- Employees DataFrame ---
   id      name
0   1     Alice
1   7       Bob
2  11      Meir
3  90   Winston
4   3  Jonathan

--- EmployeeUNI DataFrame ---
   id  unique_id
0   3          1
1  11          2
2  90          3

--- Result DataFrame ---
   unique_id      name
0        NaN     Alice
1        NaN       Bob
2        2.0      Meir
3        3.0   Winston
4        1.0  Jonathan

In [ ]:
# 1378. Replace Employee ID With The Unique Identifier (SQL)

SELECT
    EU.unique_id,
    E.name
FROM
    Employees E
LEFT JOIN
    EmployeeUNI EU ON E.id = EU.id
ORDER BY
    E.id;

In [ ]:
# 550. Game Play Analysis IV (Pandas)

import pandas as pd
from typing import Literal

def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    activity['event_date'] = pd.to_datetime(activity['event_date'])

    first_login = activity.groupby('player_id')['event_date'].min().reset_index()
    first_login.columns = ['player_id', 'first_login_date']

    merged_df = pd.merge(activity, first_login, on='player_id', how='left')

    merged_df['day_diff'] = (merged_df['event_date'] - merged_df['first_login_date']).dt.days

    retained_players_df = merged_df[merged_df['day_diff'] == 1]

    retained_count = retained_players_df['player_id'].nunique()

    total_players = activity['player_id'].nunique()

    if total_players == 0:
        fraction = 0.00
    else:
        fraction = retained_count / total_players

    result = pd.DataFrame({'fraction': [round(fraction, 2)]})

    return result

data = {
    'player_id': [1, 1, 2, 3, 3],
    'device_id': [2, 2, 3, 1, 4],
    'event_date': ['2016-03-01', '2016-03-02', '2017-06-25', '2016-03-02', '2018-07-03'],
    'games_played': [5, 6, 1, 0, 5]
}
activity_df = pd.DataFrame(data)

print("--- Input Activity Table ---")
print(activity_df)
print("\n--- Output Result ---")
output = gameplay_analysis(activity_df)
print(output)

--- Input Activity Table ---
   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-03-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

--- Output Result ---
   fraction
0      0.33

In [ ]:
# 550. Game Play Analysis IV (SQL)

WITH FirstLogin AS (
    SELECT
        player_id,
        MIN(event_date) AS first_login_date
    FROM
        Activity
    GROUP BY
        player_id
),
RetainedPlayers AS (
    SELECT DISTINCT
        F.player_id
    FROM
        FirstLogin F
    JOIN
        Activity A
        ON F.player_id = A.player_id
        AND A.event_date = DATE_ADD(F.first_login_date, INTERVAL 1 DAY)
)
SELECT
    ROUND(
        (SELECT COUNT(*) FROM RetainedPlayers) / (SELECT COUNT(*) FROM FirstLogin)
    , 2) AS fraction;

In [ ]:
# 1075. Project Employees I (Pandas)

import pandas as pd

def project_employees_i(project: pd.DataFrame, employee: pd.DataFrame) -> pd.DataFrame:
    merged_df = pd.merge(project, employee, on='employee_id', how='left')

    average_years_series = merged_df.groupby('project_id')['experience_years'].mean()

    result_df = average_years_series.reset_index(name='average_years')

    result_df['average_years'] = result_df['average_years'].round(2)

    return result_df[['project_id', 'average_years']]

project_data = {
    'project_id': [1, 1, 1, 2, 2],
    'employee_id': [1, 2, 3, 1, 4]
}
project_df = pd.DataFrame(project_data)

employee_data = {
    'employee_id': [1, 2, 3, 4],
    'name': ['Khaled', 'Ali', 'John', 'Doe'],
    'experience_years': [3, 2, 1, 2]
}
employee_df = pd.DataFrame(employee_data)

print("--- Input Project Table ---")
print(project_df)
print("\n--- Input Employee Table ---")
print(employee_df)
print("\n--- Output Result ---")
output = project_employees_i(project_df, employee_df)
print(output)

--- Input Project Table ---
   project_id  employee_id
0           1            1
1           1            2
2           1            3
3           2            1
4           2            4

--- Input Employee Table ---
   employee_id    name  experience_years
0            1  Khaled                 3
1            2     Ali                 2
2            3    John                 1
3            4     Doe                 2

--- Output Result ---
   project_id  average_years
0           1            2.0
1           2            2.5

In [ ]:
# 1075. Project Employees I (SQL)

SELECT
    P.project_id,
    ROUND(AVG(E.experience_years), 2) AS average_years
FROM
    Project P
JOIN
    Employee E ON P.employee_id = E.employee_id
GROUP BY
    P.project_id;

In [ ]:
# 185. Department Top Three Salaries (Pandas)

import pandas as pd

def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    merged_df = pd.merge(
        employee,
        department,
        left_on='departmentId',
        right_on='id',
        suffixes=('_emp', '_dept')
    )

    merged_df['salary_rank'] = merged_df.groupby('departmentId')['salary'].rank(
        method='dense',
        ascending=False
    )

    high_earners = merged_df[merged_df['salary_rank'] <= 3]

    result_df = high_earners.rename(columns={
        'name_dept': 'Department',
        'name_emp': 'Employee',
        'salary': 'Salary'
    })

    return result_df[['Department', 'Employee', 'Salary']]

employee_data = {
    'id': [1, 2, 3, 4, 5, 6, 7],
    'name': ['Joe', 'Henry', 'Sam', 'Max', 'Janet', 'Randy', 'Will'],
    'salary': [85000, 80000, 60000, 90000, 69000, 85000, 70000],
    'departmentId': [1, 2, 2, 1, 1, 1, 1]
}
employee_df = pd.DataFrame(employee_data)

department_data = {
    'id': [1, 2],
    'name': ['IT', 'Sales']
}
department_df = pd.DataFrame(department_data)

print("--- Input Employee Table ---")
print(employee_df)
print("\n--- Input Department Table ---")
print(department_df)
print("\n--- Output High Earners ---")
output = top_three_salaries(employee_df, department_df)
print(output)

--- Input Employee Table ---
   id   name  salary  departmentId
0   1    Joe   85000             1
1   2  Henry   80000             2
2   3    Sam   60000             2
3   4    Max   90000             1
4   5  Janet   69000             1
5   6  Randy   85000             1
6   7   Will   70000             1

--- Input Department Table ---
   id   name
0   1     IT
1   2  Sales

--- Output High Earners ---
  Department Employee  Salary
0         IT      Joe   85000
1      Sales    Henry   80000
2      Sales      Sam   60000
3         IT      Max   90000
5         IT    Randy   85000
6         IT     Will   70000

In [ ]:
# 185. Department Top Three Salaries (SQL)

WITH RankedEmployees AS (
    SELECT
        id,
        name AS Employee,
        salary,
        departmentId,
        DENSE_RANK() OVER (
            PARTITION BY departmentId
            ORDER BY salary DESC
        ) AS salary_rank
    FROM
        Employee
)

SELECT
    D.name AS Department,
    R.Employee,
    R.salary AS Salary
FROM
    RankedEmployees R
JOIN
    Department D ON R.departmentId = D.id
WHERE
    R.salary_rank <= 3
ORDER BY
    D.name, R.salary DESC;